BOT_TOKEN=
CHANNEL_ID=
YUBIT_API_KEY=
YUBIT_SECRET_KEY=
YUBIT_BASE_URL=https://openapi.yubit.com
YUBIT_RECV_WINDOW=5000
UID_MIN_LENGTH=4
UID_MAX_LENGTH=20
CHECK_INTERVAL_DAYS=7
REGISTER_LINK=https://www.yubit.com/
DB_NAME=database.db
LOG_LEVEL=INFO
ADMIN_IDS=